* {
    margin: 0;
    padding: 0;
}
:root {
    --sidebar-color: #38bdf8;
    --white-color: #fafaf9;  /* stone 50  */
    --offwhite-color: #e7e5e4; /* stone 200  */
    --noteside-color: #eab308; /* yellow 500 */
}

li{
    list-style: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/* sidebar style */
.sidebar{
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-row: 1/3;
    font-weight: bold;
    padding-left: 1vw;
    background-color: var(--sidebar-color);
}

.sidebar a{ 
        color: var(--white-color);
        text-decoration: none;
}

.sidebar_logo{
    display: grid;
    
    color: var(--white-color);
    align-items: center;
    font-size: 30px;
}

.sidebar_menu{
    align-self: start;
}
.sidebar_menu ul{
    color: var(--white-color);
    font-size: 20px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    margin-bottom: 10vh;
    padding: 1vh;
    gap: 1vh;
}

/* Header Style */
.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--white-color);
    
}



.searchBar{
    display: grid;
    grid-template-columns: 1fr 9fr;
    text-align: center;
    align-items: center;
}

.searchImage{
    margin-left: 2vw;
    
}
.actualBar{
  background-color: var(--offwhite-color);
  width: 90%;
  height: 24px;
  border-radius: 25px;
  border: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
    padding: 4px 5px;
}

.userNotif{
    padding-left: 6vw;
   display: grid; 
   grid-template-columns: 1fr 1fr 8fr;
   align-items: center;
}

.userNotif a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}


.smallProfilePic{
    padding-left:2vw;
    padding-right: 2vw;
    height: 48px;
    border-radius: 50%;
    
}

.userInfo{
    align-items: center;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-bottom: 1vh;
}

.profilePic{
    margin-left: 2vw;
    grid-row: 1/3;
    border-radius: 50%;
    height: 8vh;
}

.userHello{
    padding-left: 1vw;
    padding-top: 1.5vh;
    font-size: 16px;
}
.userInfoName{
    padding-left: 1vw;
    font-size: 30px;
}

.userButtonsContainer{
    margin:1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button{
    background: var(--sidebar-color);
    border: transparent;
    text-align: center;
    height: 50px;
    width: 100px;
    border-radius: 2.5rem;
    padding: 10px;
    font-weight: bold;
    color: var(--white-color);
    
}
/* Main
 Content style */
.mainContent{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: 1fr 1fr;
    background-color: var(--offwhite-color);
    
}

.mainContent >div{
    border: 1px solid green;
}

.projects{
    margin: 2vh 1vh 1vh 1vh;
    grid-row: 1/3
}

.projects > *{
    border: 1px solid green;
}

.projectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vh;
    margin: 1vh
}

.projectContainer >div{
    border: 1px solid blueviolet;
}
/* The style for the project cards */
.projectCard{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    gap: 0;
}
.projectTitle{
    grid-column: 1/4;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    border: 1px solid red;
}

.projectSummary{
    grid-column: 1/4;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 2px;
}

.projectLinks{
    grid-column: 3/4;
}

.announcementContainer{
    background-color: var(--white-color);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vh;
    margin: 1vh;
    padding: 1vh;
}

.announcementCard{
    padding: 1vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.trendingContainer{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1vh;
    margin: 1vh;
    padding: 1vh;
}

.trendingCard{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
}

.trendingIcon{
    grid-row: 1/3;
}

/* SVG CSS */
.dashboardImage{
    fill: var(--white-color);
    height:36px;
    width: 36px;
    vertical-align: middle;
}

.listImage{
    fill: var(--white-color);
    height:24px;
    width: 24px;
    vertical-align: middle;
}

